body{ /* Normal  */
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
    color: black;
  }
td {  /* Table  */
  font-size: 18px;
}
title {
  font-size: 38px;
  font-family: "Times New Roman", Times, serif;
  color: Black;
}
h1 { /* Header 1 */
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  color: Black;
}
h2 { /* Header 2 */
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  color: Black;
}
h3 { /* Header 3 */
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: Black;
}
.r{ /* Code block */
  font-size: 18px;
}
pre { /* Code block - determines code spacing between lines */
  font-size: 18px;
}
.caption {
  font-size: 18px;
  font-style: italic;
  color: grey;
  margin-right: 5%;
  margin-left: 0;  
  text-align: justify;
}
figcaption {
  font-size: 18px;
  font-style: italic;
  color: grey;
  margin-right: 5%;
  margin-left: 0%;  
  text-align: justify;
}
.buttond {
  background-color: white;
  color: black;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.buttont {
  background-color: white;
  color: black;
  border: 1px solid #555555;
}
.buttont:hover {
  background-color: #555555;
  color: white;
}

/* Footer */

footer {
  margin-top: 30px;
  padding: 10px 0 5px;
  border-top: 1px solid #e5e5e5;
  color: grey;
  display: flex;
  flex-shrink: 0;
}

footer p {
  margin-bottom: 0;
}

footer div {
  flex: 1;
}

footer .wetlandscapes {
  text-align: right;
  float: right;
}

.flexbox-figure-wrapper {
  width: 100%;          
}
.flexbox-figure {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.flexbox-figure > div:not(:last-child) {
  margin-right: 2%;
}
.flexbox-figure img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}