<footer>
    <div>
        <p>
            Atmospheric vapor and precipitation are not in isotopic equilibrium in a continental mountain environment
        </p>
        <a href="https://wetlandscapes.com" target="_blank">
            wetlandscapes.com
        </a>
    </div>
    <div class="wetlandscapes">
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    </div>
</footer>